body {
    margin: 0;
    font-family: 'Playfair Display', serif;

}

button, table {
    font-family: 'Playfair Display', serif;
}


.header, nav, footer, section, div {
    box-sizing: border-box;
}

.header_logo img {
    height: 1.5em;
    margin: auto;
    bottom: 0;
}

.header_logo {
    margin: auto;
}

/*
 *
 * menubalk
 *
 */
.menu {
    background-color: #d81e05;
    opacity: 0.8;
    width: 100%;
    z-index: 2;
    top: 0;
    font-size: 28px;
    height: 50px;
    position: fixed;
}

.menu .js-uitloggen {
    cursor: pointer;
}

.menu img {
    height: 40px;
    margin: 10px;
}

.menu .menu_groot a {
    padding: 15px;
    text-decoration: none;
    color: whitesmoke;
    top: 0;
}

.menu a:hover {
    color: black;
}

.taal {
    display: inline-block;
    position: fixed;
    top: 10px;
}

.skiptranslate.goog-te-gadget {
    position: relative;
}


/*
 *
 * header
 *
 */
header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    text-align: center;
    padding-top: 50px;
}


/*
 *
 * body
 *
 */

.uitschuiven a {
    display: block;
    float: none;
}

/*
 *
 * container indeling homepagina
 *
 */

.banner_ad_left, .banner_ad_right {
    width: 100%;
}

.container {
    flex-wrap: wrap;
    display: flex;
    max-height: 100%;
    z-index: 1;

}

.container__main {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    order: 1;
    background-color: white;
    height: 80%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: #d81e05 1px solid;
    border-right: #d81e05 1px solid;
    margin: auto;
}

.left__ad {
    width: 0;
    order: 0;
    left: 0;
    height: 100%;
    top: 60px;
    bottom: 20%;
    position: sticky;
}

.right__ad {
    width: 0;
    order: 2;
    right: 0;
    height: 100%;
    top: 60px;
    bottom: 20%;
    position: sticky;
}

.bottom__container {
    width: 100%;
    order: 3;
    height: 20%;
}

/*
 *
 * containermain
 *
 */

.welkombox, .uitleg_video, .info1, .info2, .inlog-box, .flip_card_front,
.flip_card_back, .post_latest, .forum_topics__options,
.container_create_post, .forum_aanbevolen, .forum_main_options, .buttonpagina_totaal, .post, .profielUser, .overBox {
    -webkit-box-shadow: 12px 10px 15px 0 rgba(0, 0, 0, 0.75);
    border: #d81e05 solid 1px;
}

.footer_main {
    box-shadow: -1px 2px 9px -1px rgba(0, 0, 0, 0.26);
}

.welkombox {
    height: 60%;
    width: 100%;
    max-width: 650px;
    order: 0;
    padding: 0 5% 5%;
    background-color: white;
    margin: auto;
    border-top: 1px white;
    border-radius: 25px;

}

.welkombox h1 {
    color: deepskyblue;
}

.welkombox p {
    max-width: 75ch;

}

.info1, .info2 {
    background-color: white;
    border-radius: 25px;
    text-align: center;

}


.info1 b, .info2 b {
    color: deepskyblue;
}

.info1 p, .info2 p {
    margin: 10% 10% 0 10%

}

.stap2_gif img {
    width: 90%;
    border-radius: 25px;
}

.uitleg_video {
    width: 90%;
    background-color: white;
    border-radius: 15px;
    margin: 5% auto;
}

.video_container {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.stap1_img img {
    width: 100%;
    margin-bottom: 7%;
}

iframe {
    border: 0;
}

/*
*footer
 */


.footer_main {
    border-radius: 15px;
    background-color: lightgray;
    margin: 0.5% auto 0.5% auto;
    order: 1;
    padding: 10px;
    text-align: center;

}

.footer_main p {
    margin: auto;

}

.left_empty_footer {
    order: 0;
}

.right_empty_footer {
    order: 2;
}

.inputAlert {
    display: none;
    color: #d81e05;
}

.inputAlert p {
    font-size: 12px;
}

#profielFoto {
    width: 100%;
}

/*
contact popup
 */


/*
 tags
 */

.create_post_tags {
    width: 100%;
    flex-wrap: wrap;
    display: flex;

}

.tag_button {
    background-color: white;
    margin-right: 0.2%;
    font-size: 10px;
    padding: 3px;
}


.tag_button:active {
    background-color: #d81e05;
    margin-right: 0.2%;
    font-size: 10px;
    color: white;
}

.tag_button img {
    float: left;
    margin-right: 2px;
}


.tag_div {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;

}
.tag_div label input {
    display:none;
}

.tag_div input:checked + span {
    background-color: green;
}

.tag_div input[type="checkbox"] {
    /*
    dit doet het zelfde als display: none;
     */
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
}

.tag_div span {
    padding: 8px;
}

