body {
    margin: 0;
}



.header, nav, footer, section, div {
    box-sizing: border-box;
}
/*
 *
 * menubalk
 *
 */
.menu {
    background-color: black;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    position: static;
}


.menu a {
    padding: 15px;
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
}

.menu a:hover {
    color: red;
}

/*
 *
 * header
 *
 */
.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    background-color: black;
    text-align: center;

}
.header__title{

}
/*
 *
 * body
 *
 */

/*
 *
 * container indeling homepagina
 *
 */
.container{
    flex-wrap: wrap;
    display: flex;
    max-height: 100%;

}

.container__main{
    width: 100%;
    order: 1;
    background-color: #ff7b68;
    height: 80%;
    min-height: 1000px;
}
.left__ad{
    width: 0;
    order: 0;
    background-color: red;
    height: 80%;
    min-height: 1000px;

}
.right__ad{
    width: 0;
    order: 2;
    background-color: red;
    height: 80%;
    min-height: 1000px;
}
.bottom__container{
    width: 100%;
    order: 3;
    background-color: blue;
    height: 20%;
    min-height: 300px;


}
/*
 *
 * containermain
 *
 */
.container__main{
    flex-wrap: wrap;
    display: flex;
}
.welkombox{
    height: 60%;
    width: 95%;
    order: 0;
    padding: 10%;
    background-color: white;
    margin: auto;
    border-top: 1px white;
    border-radius: 25px;

}
.info1, .info2{
    padding: 10%;
    background-color: white;
    border-radius: 25px;
    margin: auto;
    width: 80%;
    height: 20%;
}

.container__main{
    flex-wrap: wrap;
    display: flex;
}

.stap1_img{

    width: 50px;
    height: 50px;
    background-color: black;
}
/*
*footer
 */

.footer{
    width: 100%;
    min-height: 100px;
    background-color: black;
    border-top: 1px solid black;
    margin: auto;

}
