
/*
Profiel Overzicht
 */



.buttonpagina_totaal {
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.button_inhoudt {
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: palevioletred;
    border-radius: 25px;
    width: 100%;
    align-content: center;


}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

}

.tab button:hover {
    background-color: #ddd;
    border-radius: 25px;
}

.tab button.active {
    background-color: lawngreen;
    border-radius: 25px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
    animation: fadeEffect 1.2s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



