@media screen and (max-width: 600px) {
    .container__main {
        padding: 0 2% 2% 2%;
    }

    .uitleg_video {
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .profiel_instellingen {
        width: 100%;
        order: 1;
        margin: auto;

    }

    .profiel_instellingen form {
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .info1 {
        min-width: 85%;
        margin: 5% 5% 5% 5%;
    }

    .info2 {
        min-width: 85%;
        margin: auto 5% 5% 5%;
    }

    .forum_main {
        width: 100%;
        order: 1;
    }

    .forum_rightmenu {
        width: 100%;
        order: 0;
        margin-bottom: 5%;
    }

    .front_post_title {
        font-size: 16px;
    }

    .forum_aanbevolen span, .forum_aanbevolen p {
        font-size: 16px;
    }

    .forum_topics__options p, .forum_topics__options p {
        font-size: 16px;
    }

    .forum_main_options {
        width: 100%;
    }

    .forum_aanbevolen, .forum_topics__options {
        margin: auto;
    }

    .aanbolen_templates {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-height: 20%;
    }

    .aanbevolen_profiel {

    }

    .matching_template, .aanbevolen_match {
        width: 50%;
    }

    .forum_aanbevolen {
        width: 100%;
    }
}

@media screen and (min-width: 450px) and (max-width: 600px) {
    .info1 p, .info2 p {
        font-size: 15px;
    }

}

@media screen and (max-width: 450px) {

    .info1 p, .info2 p {
        font-size: 16px;
    }


}

/*
over ons
 */
@media screen and (max-width: 600px) {
    .left__ad, .right__ad {
        display: none;
    }

    .left_empty_footer, .right_empty_footer2 {
        display: none;
    }

    .flip_cards {
        width: 100%;
        margin: auto;
    }

}

/*profiel*/
@media screen and (max-width: 600px) {
    #gegevens_links_mij table {
        width: 60%;
        margin: auto;
    }

    #gegevens_links_mij #profielFoto_td {
        width: 100%;
        padding-bottom: 100%;
        margin: auto;
    }
}



