@media screen and (max-width: 600px) {
    .container__main {
        padding: 2%;
    }

    .uitleg_video {
        padding: 10px 5px;
    }
}

@media screen and (min-width: 450px) and (max-width: 600px) {
    .uitleg_video {
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .info1 {
        min-width: 85%;
        margin: 5% 5% 5% 5%;
    }

    .inlog-box {
        margin: 0;
    }

    .info2 {
        min-width: 85%;
        margin: auto 5% 5% 5%;
    }

    .forum_main {
        width: 100%;
        order: 1;
    }

    .forum_rightmenu {
        width: 100%;
        order: 0;
    }

    .front_post_title {
        font-size: 12px;
    }

    .forum_aanbevolen span, .forum_aanbevolen p {
        font-size: 12px;
    }

    .forum_topics__options p {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .forum_main_options {
        width: 100%;
    }
}

@media screen and (min-width: 450px) and (max-width: 600px) {
    .info1 p, .info2 p {
        font-size: 15px;
    }

}

@media screen and (max-width: 450px) {
    .uitleg_video {
        height: 200px;
    }

    .info1 p, .info2 p {
        font-size: 16px;
    }


}

/*
over ons
 */
@media screen and (max-width: 600px) {
    .left__ad, .right__ad {
        display: none;
    }

    .left_empty_footer, .right_empty_footer2 {
        display: none;
    }

    .flip_cards {
        width: 100%;
        margin: auto;
    }

}

/*
login
 */

/*
forum
 */

@media screen and (max-width: 600px) {
    .forum_topics__options{
        width: 48%;
    }
    .forum_aanbevolen{
       width: 48%;
    }
}