@media screen and (min-width: 600px) {
    .container__main {
        padding: 3%;
    }

    .uitleg_video {
        padding: 20px 15px;
    }
}

@media screen and (max-width: 800px) {
    .left__ad, .right__ad {
        display: none;
    }

    .left_empty_footer, .right_empty_footer2 {
        display: none;
    }

    .flip_cards {
        width: 100%;
        margin: auto;
    }

}

@media screen and (min-width: 600px) {
    .info1, .info2 {
        width: 45%;
        height: 20%;
        margin: 5% auto;
    }

    .inlog-box {
        margin: auto;
    }

    .info1 p, .info2 p {
        font-size: 14px;
    }

    .forum_main {
        order: 0;
        width: 68%;
    }

    .front_post_title {
        font-size: 19px;
    }

    .forum_rightmenu {
        width: 25%;
        margin: 0 auto auto auto;
        order: 1;
    }

    .aanbevolen_profiel, .forum_main_options {
        width: 100%;
    }

    .forum_topics__options, .forum_aanbevolen {
        width: 100%;

    }

    .forum_topics__options p {
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 600px) {
    .login {
        width: 80%;
        padding: 15px;

    }


}

