/*
Profiel Overzicht
 */

.profiel_input {
    width: 90%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.soort_vakantieganger, .soort_klimaat, .soort_leeftijdsvoorkeur {
    padding: 2%;
    background-color: white;
    border-radius: 25px;
    height: 5%;
}

.voorkeuren_user table {
    font-family: 'Playfair Display', serif;
}

.buttonpagina_totaal {
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.button_inhoudt {
    text-align: center;
    margin: auto;
    width: 50%;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: palevioletred;
    border-radius: 25px;
    width: 100%;
    align-content: center;


}


.voorkeuren_user table {
    margin: auto;
    width: 50%;
    align-content: center;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

}

.tab button:hover {
    background-color: #ddd;
    border-radius: 25px;
}

.tab button.active {
    background-color: lawngreen;
    border-radius: 25px;
}

.tabcontent {
    flex-wrap: wrap;
    display: flex;
    padding: 6px 12px;
    border: 0 solid #ccc;
    border-top: none;
    animation: fadeEffect 1.2s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.inkomende_aanvraag_berkay, .inkomende_aanvraag_marvin {
    border-top: 1px solid black;
    margin-bottom: 10px;
}


#Lopende_Matches {
    overflow: auto;
    max-height: 620px;
}

#Inkomende_Matches, #Uitgaande_Matches {
    width: 100%;
    align-content: center;
    overflow: auto;
    max-height: 500px;
}

#Inkomende_Matches table, #Uitgaande_Matches table {
    margin: auto;
}

.eerste_match {
    border-top: solid 1px black;

}

.foto_eerste_match img, .tekst_eerste_match {
    margin: 10px 0;

}

.foto_eerste_match img {
    width: 100px;
    height: auto;
    border-radius: 25px;
    padding-top: 15px
}

.foto_eerst_inkomende_match img, .foto_berkay_inkomend img, .foto_marvin_inkomend img, .foto_dylan_inkomend img, .foto_mo_uitgaand img {
    width: 100px;
    height: auto;
    border-radius: 25px;
}

.inkomend_aanvraag {
    border-top: 2px solid black;
    padding: 20px;
}

.info_user {
    width: 75%;
    order: 0;
    min-height: 150px;

}

.info_user table tr td {
    font-size: 20px;
}


table .radiobutton {
    float: left;
}

.welkombox h1 {
    font-size: 28px;
    text-align: center;
}

.tekstbox, .profiel_text {
    width: 90%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.soort_vakantieganger {
    padding: 2%;
    background-color: white;
    border-radius: 25px;
    height: 5%;
}

.input table {
    width: 100%;
    margin: auto;
}

.input textarea {
    height: 50px;
    width: 100%;
}

.gegevens_button {
    position: relative;
    width: 60%;
    padding: 2%;
    cursor: pointer;
    display: block;
    margin: 2% auto;
    background: linear-gradient(to right, #ff7b68, #ffffff);
    outline: none;
    border-radius: 30px;
    border: solid 1px #ff7b68;

}

#profile img {
    width: 35%;
}

#gegevens_opslaan {
    display: none;
}

.tag_div {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    float: left;
}

.tag_div input:checked + span {
    background-color: red;
}

.tag_div input {
    display: none;
}

.tag_div span {
    padding: 8px;
}

.foto_other_user {
    position: static;
    margin: auto;
    width: 100px;
    height: 100px;
    padding-bottom: 40px;
}

.info_user {
    filter: blur(4px);
}

.profielUser {
    background-color: white;
    border-radius: 30px;
    padding: 5%;
}

