/*
Profiel Overzicht
 */
#profielFoto, .tabcontent img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

}

#profielFoto {
    border-radius: 5%;
    float: left;

}

.profiel_instellingen {
    width: 30%;
    order: 1;
    margin: 0 0 0 auto;
}

.input {
    width: 65%;
    order: 0;
    margin-right: 2%;

}

.profiel_input {
    width: 100%;
    padding: 5px;
    margin: auto;
    border: 0;
    outline: none;
    background: transparent;
}

.profiel_input_bewerken, .nieuw_wachtwoord, .nieuw_wachtwoordh {
    width: 100%;
    padding: 5px;
    margin: 1% auto;
    border: 1px solid #999;
    background: transparent;
}

.tekstbox {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    outline: none;
    background: transparent;
}

.tekstbox_bewerken {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 1px solid #999;
    background: transparent;
}

#nieuw_wachtwoord, #nieuw_wachtwoordh, #nieuw_wachtwoord_tekst, #nieuw_wachtwoordh_tekst {
    display: none;
    width: 100%;
}

.voorkeuren_user table {
    font-family: 'Playfair Display', serif;
}

.buttonpagina_totaal {
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    align-content: center;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
    border-radius: 25px;
}

.tab button.active {
    background-color: yellow;
    border-radius: 25px;
}

.tabcontent {
    padding: 2%;
    border: 0 solid #ccc;
    border-top: none;
    animation: fadeEffect 1.2s;
    min-height: 800px;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.foto_gebruiker_uitgaand, .foto_gebruiker_inkomend, .gebruiker_lopende {
    border-bottom: 1px solid gray;
    padding: 5%;
    flex-wrap: wrap;
    display: flex;
    order: 0;
    margin: auto auto 5% auto;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.foto_gebruiker_uitgaand p {
    text-align: center;
}

.accepteer, .weiger, .verwijder, .privacy_opslaan {
    display: block;
    background-color: #d81e05;
    color: white;
    border-radius: 5%;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: auto;
    cursor: pointer;

}

.weiger, .accepteer, .verwijder {
    width: 19em;
    padding: 5%;
}

.accepteer:hover, .weiger:hover, .verwijder:hover, .gegevens_button:hover, .privacy_opslaan:hover, #profielfoto_wijzigen_div label:hover {
    background: linear-gradient(to right, red, #ffffff);
}


.accepteer {
    order: 1;

}

.weiger {
    order: 2;
}

.foto_gebruiker_uitgaand p {
    margin: auto;
}

#Inkomende_Matches, #Uitgaande_Matches {
    width: 100%;
    align-content: center;

}

#Inkomende_Matches table, #Uitgaande_Matches table {
    margin: auto;
}

.lopende_match {
    border-top: solid 1px black;
    flex-wrap: wrap;
    display: flex;

}

.foto_eerste_match img, .tekst_eerste_match {
    margin: 10px 0;

}

.foto_gebruiker_uitgaand img, .foto_gebruiker_inkomend img, .gebruiker_lopende img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin: 5%;
    cursor: pointer;
    object-fit: cover;

}

.foto_gebruiker_uitgaand img:hover, .foto_gebruiker_inkomend img:hover, .gebruiker_lopende img:hover {
    opacity: 0.5;
    background-color: lightyellow;
}

.rechts_info {
    width: 50%;
    flex-wrap: wrap;
    display: flex;
}

#naam_lopende, #naam_inkomende, #naam_uitgaande {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.aanvraag {
    border-top: 2px solid black;
    flex-wrap: wrap;
    display: flex;
}

.info_user {
    width: 75%;
    order: 0;
    min-height: 150px;

}

.info_user table tr td {
    font-size: 20px;
}


table .radiobutton {
    float: left;
}

.welkombox h1 {
    font-size: 28px;
    text-align: center;
}


.soort_vakantieganger {
    padding: 2%;
    background-color: white;
    border-radius: 25px;
    height: 5%;
}

.profiel_overzicht {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.input textarea {
    min-height: 80px;
    width: 100%;
}

.gegevens_button, #verzoek_feedback, #al_gematched, #profielfoto_wijzigen_div label {

    color: white;
    border-radius: 5%;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: auto;
    cursor: pointer;
    padding: 2%;
    height: 3em;
    width: 40%;
    position: relative;
    text-align: center;
    align-content: center;
}

.gegevens_button {
    background-color: #d81e05;
}

#al_gematched {
    background-color: #21a64b;
}

#verzoek_feedback {
    background-color: yellow;
    color: black;
}

#verzoek_feedback, #al_gematched {
    display: none;
}


#profielFoto {
    width: 35%;
}

#gegevens_opslaan {
    display: none;
}

.td_tags {
    margin-left: auto;
}

.tag_div {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    float: left;
}

.tag_div input:checked + span {
    background-color: #21a64b;
}

.tag_div input {
    display: none;
}

.tag_div span {
    padding: 8px;
}

.foto_other_user {
    position: static;
    margin: auto;
    width: 100px;
    height: 100px;
    padding-bottom: 40px;
}

.info_user {
    filter: blur(4px);
}

.profielUser {
    background-color: white;
    border-radius: 30px;
    padding: 5%;
    height: 100%;
}

.hide_inkomende {
    display: none;
}

.inkomende {
    display: block;
    width: 50%;
}

.hide_lopende {
    display: none;
}

.lopende {
    display: block;
    width: 50%;
}

.uitgaande {
    display: block;
    width: 50%;
}

#profielfoto_wijzigen {
    float: left;
    width: auto;
    display: none;
}


/*#profielfoto_wijzigen {*/
/*    visibility: hidden;*/
/*    width: 0;*/
/*    height: 0;*/
/*}*/

#profielfoto_wijzigen_div {
    display: none;
}

#profielfoto_wijzigen_div label {
    float: left;
    height: auto;
}
