/*
Profiel Overzicht
 */
#profielFoto ,.tabcontent img{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

}
#profielFoto{
    border-radius: 5%;
    float: left;

}
.profiel_input {
    width: 100%;
    margin: 1% auto;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.voorkeuren_user table {
    font-family: 'Playfair Display', serif;
}

.buttonpagina_totaal {
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.button_inhoudt {
    text-align: center;
    margin: auto;
    width: 50%;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    align-content: center;


}


.voorkeuren_user table {
    margin: auto;
    width: 50%;
    align-content: center;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

}

.tab button:hover {
    background-color: #ddd;
    border-radius: 25px;
}

.tab button.active {
    background-color: yellow;
    border-radius: 25px;
}

.tabcontent {
    padding: 5%;
    border: 0 solid #ccc;
    border-top: none;
    animation: fadeEffect 1.2s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.foto_gebruiker_uitgaand, .foto_gebruiker_inkomend, .gebruiker_lopende {
    border-bottom: 1px solid gray;
    padding: 5%;
    flex-wrap: wrap;
    display: flex;
    order: 0;
    margin: auto auto 5% auto;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.accepteer, .weiger, .verwijder{
    display: block;
    background-color: red;
    color: white;
    border-radius: 5%;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: auto;
    cursor: pointer;
    padding: 2%;
    width: 8em;
}
.accepteer:hover, .weiger:hover, .verwijder:hover, .gegevens_button:hover{
    background: linear-gradient(to right, red, #ffffff);
}
.accepteer{
    order: 1;

}
.weiger{
    order: 2;
}
.foto_gebruiker_uitgaand p{
    margin: auto;
}
#Inkomende_Matches, #Uitgaande_Matches {
    width: 100%;
    align-content: center;

}

#Inkomende_Matches table, #Uitgaande_Matches table {
    margin: auto;
}

.lopende_match {
    border-top: solid 1px black;

}

.foto_eerste_match img, .tekst_eerste_match {
    margin: 10px 0;

}

.foto_gebruiker_uitgaand img, .foto_gebruiker_inkomend img, .gebruiker_lopende img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin: auto;

}

.aanvraag {
    border-top: 2px solid black;
}

.info_user {
    width: 75%;
    order: 0;
    min-height: 150px;

}

.info_user table tr td {
    font-size: 20px;
}


table .radiobutton {
    float: left;
}

.welkombox h1 {
    font-size: 28px;
    text-align: center;
}

.tekstbox {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 1px solid #999;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.soort_vakantieganger {
    padding: 2%;
    background-color: white;
    border-radius: 25px;
    height: 5%;
}
.input {

}
.input table {
    width: 100%;

}

.input textarea {
    min-height: 80px;
    width: 100%;
}

.gegevens_button, #verzoek_feedback, #al_gematched {
    background-color: red;
    color: white;
    border-radius: 5%;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: auto;
    cursor: pointer;
    padding: 2%;
    height: 3em;
    width: 50%;
    position: relative;
}
#verzoek_feedback, #al_gematched{
    display:none;
}

#profile img {
    width: 35%;
}

#gegevens_opslaan {
    display: none;
}
.td_tags{
    margin-left: auto;
}
.tag_div {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    float: left;
}

.tag_div input:checked + span {
    background-color: red;
}

.tag_div input {
    display: none;
}

.tag_div span {
    padding: 8px;
}

.foto_other_user {
    position: static;
    margin: auto;
    width: 100px;
    height: 100px;
    padding-bottom: 40px;
}

.info_user {
    filter: blur(4px);
}

.profielUser {
    background-color: white;
    border-radius: 30px;
    padding: 5%;
}

.hide_inkomende {
    display: none;
}

.inkomende {
    display: block;
}