.Openingtekst {
    text-decoration: underline;
}
/*
* Hiermee wordt de popup geblockeerd
 */

body {
    top: 0px !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
