/*
forummain
 */
.forum_main {
    border-radius: 15px;
    padding: 2%;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto auto auto;

}

/*
right menu
 */


.forum_rightmenu {
    align-content: center;

}
.option_buttons{
    flex-wrap: wrap;
    display: flex;
    width: 60%;
}
.forum_main_options form{
    width: 25%;
    float: right;
}
.expand_filter_button, .start_post_button{
    cursor: pointer;
    background-color: #d81e05;
    color: white;
    padding: 3%;
    width: 40%;
    outline: none;
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border: 0;
    order: 1;

}
.start_post_button{
    margin-bottom: auto;
}
.expand_filter_button{
    top: 0;
    margin-left: 5%;
    text-align: center;
    align-content: center;
}
.forum_main_options {
    padding: 2%;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 3%;
    height: 5%;
    width: 50%;
    flex-wrap: wrap;
    display: flex;
}



.start_post_button:hover, .expand_filter_button:hover{
    background: linear-gradient(to right, red, #ffffff);
}

.forum_topics__options, .forum_aanbevolen {
    background-color: white;
    border-radius: 25px;
}


/*
right menu - aanbevolen
 */

.forum_aanbevolen{
    width: 100%;
}
.aanbevolen_profiel {
    width: 100%;

}

.aanbevolen_match {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 5%;
    cursor: pointer;
    border-bottom: lightgray solid 1px;
    padding: 3% 0 3% 0;
    min-height: 15%;
}

.aanbevolen_profiel hr {
    width: 100%;
}

.aanbevolen_profiel_info {
    width: 55%;
    order: 1;
    margin-left: 5%;
    display: block;
}

.aanbevolen_profiel_foto {
    width: 3em;
    height: 3em;
    order: 0;
}

.aanbevolen_profiel_foto:hover {
    opacity: 0.5;
    background-color: lightyellow;
}

.aanbevolen_profiel_foto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.post_header:active {
    background-color: lightgrey;

}

.aanbevolen_vnaam {
    width: 80%;
    font-size: 14px;
}

.aanbevolen_anaam {
    width: 80%;

    font-size: 14px;
}

.forum_filter input {
    display: none;
}

.forum_filter{
    display: flex;
    flex-wrap: wrap;
 }

.forum_filter span {
    border: 1px solid #ddd;
    padding: 5px;
    display: block;
    font-size: 13px;
    width: 90%;
    cursor: pointer;
    text-align: center;
    margin: auto;
    border-radius: 5%;
}

.div_btn input:checked + span {
    background-color: #21a64b;
}

.forum_filter button {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 5px;
    display: block;
    font-size: 13px;
    width: 100%;
    cursor: pointer;
}

/*
post
 */
.post {
    height: 18%;
    background-color: #f6f6f6;
    border-radius: 15px;
    padding: 0 5% 5% 5%;
    margin: auto auto 4% auto;
    outline: none;
    width: 100%;
}

#post_date {
    margin: 2% auto;
    font-size: 0.8em;
    float: right;
}

.post_profiel_foto {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    order: 0;
    cursor: pointer;
    margin: auto;
}

.post_profiel_foto:hover {
    opacity: 0.5;
    background-color: lightyellow;
}

.post_profiel_foto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.gebruiker_post_info {
    width: 20%;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}

#voornaam_post {
    width: 100%;
    margin: 5% auto;
    text-align: center;
}

.front_post_title {
    padding-left: 5%;
    width: 60%;
    font-size: 16px;
    order: 1;
    margin: auto;
}

.contact_button, #filteren {
    padding: 2%;
    position: relative;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #d81e05;
    color: #ffffff;
    outline: none;
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border: 0;
}

.contact_button {
    width: 50%;
}

#filteren {
    margin: 5% auto;
    width: 50%;
}

.post_header {
    width: 100%;
    border: none;
    outline: none;
    flex-wrap: wrap;
    display: flex;

}

.post hr {
    width: 100%;
}

#content_text, #tags {
    max-width: 70ch;
    font-size: 12px;
    overflow: hidden;
}

.post_content hr {
    margin-top: 5%;
}

.forum_search {
    width: 100%;
    margin: 5% auto 5% auto;
}

#post_template {
    order: 0;
}

#contact_verzoek_button:hover, #filteren:hover {
    background: linear-gradient(to right, red, #ffffff);
}

#volgorde {
    background-color: white;
    margin-left: 20px;
    padding: 5px;
    border: solid 1px gray;
    cursor: pointer;
    border-radius: 5px;
    float: left;
}

/*.forum_page_selector {*/
/*    margin: auto;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    height: 4%;*/
/*    order: 1;*/
/*}*/

/*.forum_page_selector #left_page, .forum_page_selector #right_page {*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    padding: 8px 16px;*/
/*    background-color: white;*/
/*    border-radius: 15%;*/
/*    border: solid 1px black;*/
/*    margin: auto;*/
/*}*/

/*.forum_page_selector #left_page:hover, .forum_page_selector #right_page:hover {*/
/*    background-color: #ddd;*/
/*    color: black;*/
/*}*/

/*.forum_page_selector #left_page{*/
/*    background-color: gray;*/
/*}*/

/*#right_page {*/
/*    cursor: pointer;*/
/*}*/

#template_div {
    width: 100%;
    height: 100%;
}

.pagination {
    margin: auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}



.none{
    display: none;
}
.block{
    display: block;
}
.forum_topics__options{
    display: none;
    margin: auto;
}
.post_content{
    display: none;
    overflow: hidden;
}
.aanbolen_templates{
    flex-wrap: wrap;
    display: flex;

}
.aanbevolen_match{
    width: 100%;
}
hr{
    width: 100%;
}
