/*
Profiel Overzicht
 */
#profielFoto, #foto_gebruiker_lopende, #foto_gebruiker_inkomend, #foto_gebruiker_uitgaande {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

}

#profielFoto {
    border-radius: 5%;
    float: left;

}

.profiel_instellingen {
    width: 100%;
    height: 20%;
    order: 1;
    margin: 0 0 0 auto;
}

.input {
    width: 65%;
    order: 0;
    margin-right: 2%;

}

.profiel_input {
    width: 100%;
    padding: 5px;
    margin: auto;
    border: 0;
    outline: none;
    background: transparent;
}

#profile {
    width: 100%;
}

.profiel_input_bewerken, .nieuw_wachtwoord, .nieuw_wachtwoordh {
    width: 100%;
    padding: 5px;
    margin: 1% auto;
    border: 1px solid #999;
    background: transparent;
}

.tekstbox {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 0;
    outline: none;
    background: transparent;

}

.textarea-container {
    position: relative;
}

.textarea-container > div, .textarea-container > textarea {
    word-wrap: break-word; /* make sure the div and the textarea wrap words in the same way */
    box-sizing: border-box;
    padding: 2px;
    width: 100%;
}

.textarea-container > textarea {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.textarea-container > div {
    padding-bottom: 8em; /* A bit more than one additional line of text. */
    visibility: hidden;
}

.tekstbox_bewerken {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 1px solid #999;
    background: transparent;
}

#nieuw_wachtwoord, #nieuw_wachtwoordh, #nieuw_wachtwoord_tekst, #nieuw_wachtwoordh_tekst {
    display: none;
    width: 100%;
}


.buttonpagina_totaal {
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    align-content: center;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
    border-radius: 25px;
}

.tab button.active {
    background-color: yellow;
    border-radius: 25px;
}

.tabcontent {
    padding: 2%;
    border: 0 solid #ccc;
    border-top: none;
    animation: fadeEffect 1.2s;
    min-height: 800px;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.foto_gebruiker_uitgaand, .foto_gebruiker_inkomend, .gebruiker_lopende {
    border-bottom: 1px solid gray;
    padding: 5%;
    flex-wrap: wrap;
    display: flex;
    order: 0;
    margin: auto auto 5% auto;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.foto_gebruiker_uitgaand p {
    text-align: center;
}

.accepteer, .weiger, .verwijder, .privacy_opslaan {
    display: block;
    background-color: #d81e05;
    color: white;
    border-radius: 5%;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: auto;
    cursor: pointer;

}

.privacy_opslaan {
    width: 100%;
    margin: 5px 0;
    padding: 5px 0;
}

.weiger, .accepteer, .verwijder {
    width: 19em;
    padding: 5%;
}

.accepteer:hover, .cd-popup-trigger:hover, .weiger:hover, .verwijder:hover, .gegevens_button:hover, .privacy_opslaan:hover, #profielfoto_wijzigen_div label:hover {
    background: linear-gradient(to right, red, #ffffff);
}


.accepteer {
    order: 1;

}

.weiger {
    order: 2;
}

.foto_gebruiker_uitgaand p {
    margin: auto;
}

#Inkomende_Matches, #Uitgaande_Matches {
    width: 100%;
    align-content: center;

}

#Inkomende_Matches table, #Uitgaande_Matches table {
    margin: auto;
}

.lopende_match {
    border-top: solid 1px black;
    flex-wrap: wrap;
    display: flex;

}

.foto_eerste_match img, .tekst_eerste_match {
    margin: 10px 0;

}

.foto_gebruiker_uitgaand img, .foto_gebruiker_inkomend img, .gebruiker_lopende img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin: 5%;
    cursor: pointer;
    object-fit: cover;

}

.foto_gebruiker_uitgaand img:hover, .foto_gebruiker_inkomend img:hover, .gebruiker_lopende img:hover {
    opacity: 0.5;
    background-color: lightyellow;
}

.rechts_info {
    width: 50%;
    flex-wrap: wrap;
    display: flex;
}

#naam_lopende, #naam_inkomende, #naam_uitgaande {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.aanvraag {
    border-top: 2px solid black;
    flex-wrap: wrap;
    display: flex;
}

.info_user {
    width: 75%;
    order: 0;
    min-height: 150px;

}

.info_user table tr td {
    font-size: 20px;
}


table .radiobutton {
    float: left;
}

.welkombox h1 {
    font-size: 28px;
    text-align: center;
}


.soort_vakantieganger {
    padding: 2%;
    background-color: white;
    border-radius: 25px;
    height: 5%;
}

.profiel_overzicht {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

forum {
    width: 100%;
}

.input textarea {
    min-height: 80px;
    width: 100%;
}

.gegevens_button, #verzoek_feedback, #al_gematched, #profielfoto_wijzigen_div label {
    color: white;
    border-radius: 5%;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: auto;
    cursor: pointer;
    padding: 1%;
    width: 30%;
    position: relative;
    text-align: center;
    align-content: center;
}

.gegevens_button {
    width: 30%;
}

.gegevens_button, #profielfoto_wijzigen_div label {
    background-color: #d81e05;
}

#al_gematched {
    background-color: #21a64b;

}

#verzoek_feedback {
    background-color: yellow;
    color: black;
}

#verzoek_feedback, #al_gematched {
    display: none;
}


#profielFoto {
    width: 35%;
}

#gegevens_opslaan {
    display: none;
}

.td_tags {
    margin-left: auto;
}

.tag_div {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    float: left;
}

.tag_div input:checked + span {
    background-color: #21a64b;
}

.tag_div input {
    display: none;
}

.tag_div span {
    padding: 8px;
}

.foto_other_user {
    position: static;
    margin: auto;
    width: 100px;
    height: 100px;
    padding-bottom: 40px;
}

.info_user {
    filter: blur(4px);
}

.profielUser {
    background-color: white;
    border-radius: 30px;
    padding: 5%;
    width: 100%;
}

.gegevens_input {
    width: 100%;
}

.gegevens_links {
    float: left;
    width: 40%;
    margin-right: 2%;
    margin-bottom: 20px;
}

#profielFoto_td {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

#gegevens_links_ander img, #gegevens_links_mij img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.gegevens_rechts {
    float: right;
    width: 58%;
}

#match_status {
    width: 100%;
    float: left;
}

.hide_inkomende {
    display: none;
}

.inkomende {
    display: block;
    width: 50%;
}

.hide_lopende {
    display: none;
}

.lopende {
    display: block;
    width: 50%;
}

.email::placeholder {
    color: blue;
}

.uitgaande {
    display: block;
    width: 50%;
}

#profielfoto_wijzigen {
    display: none;
}

#profielfoto_wijzigen_div {
    display: none;
    width: 100%;
    margin: 10px 0;
}

.trashcan {
    margin-top: 2%;
    width: 20%;
}


#gegevens_verwijderen {
    background-color: white;
    color: red;
    border: 1px solid #d81e05;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.cd-popup-trigger {
    display: block;
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin: 3em auto;
    text-align: center;
    font-weight: bold;
    border-radius: 50em;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}

@media only screen and (min-width: 1170px) {
    .cd-popup-trigger {
        margin: 6em auto;
    }
}

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);

    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-popup-container p {
    padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}
.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
}
.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}
.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}
.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
}


